.urlData {
  background-color: $grey-medium;
  width: 200px;
  height: 250px;
  border-radius: 5px;

  &__title {
    margin-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  &__infoData {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $grey-dark;
    margin-bottom: 2px;
    justify-content: center;
    font-size: 12px;
    height: 45px;
    padding-left: 10px;
    &:last-child {
      margin-bottom: 0;
    }

    label {
      position: absolute;
      top: 5px;
      font-weight: bold;
    }

    span {
      position: absolute;
      bottom: 5px;
    }
  }
}
