@import "./scss/variables/colors.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

.dataCardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
